<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>便利贴</title>
  </head>
  <body>
      <nav class="navbar">
        <a href="javascript:;" class="btn add-note">添加笔记</a>
        <ul>
          
           <li><a class="btn" title="GitHub登录" href="/auth/github"><i class="iconfont">&#xe601;</i> GitHub登录</a></li>
          
        </ul>
    </nav>
        <div id="content"></div>
        <div class="go-Top" title="回到顶部"></div>
        <script src="/js/index.js"></script>
  </body>
</html>
